<div class="row" style="margin-bottom: 10px">
    <app-color-palette [h]="hsl.get('h')" [s]="hsl.get('s')" [l]="hsl.get('l')" style='margin-right: 10px'>
    </app-color-palette>
    <app-color-slider [hue]="hsl.get('h')"></app-color-slider>
</div>
<div class="row">
    <app-color-opacity [a]="colorForm.get('a')" [hsl]="hsl" style="margin-right: 10px">
    </app-color-opacity>
    <app-color-square [rgb]=rgb [a]="colorForm.get('a')"></app-color-square>
</div>
<div class=" row" style="margin-top:10px;">
    <app-color-rgba-hex [colorForm]="colorForm">
    </app-color-rgba-hex>
</div>