<div class="wrapper">

    <div class="overlay" *ngIf="!isLoaded">
        <div class="spinner-wrapper">
            <mat-progress-spinner class="example-margin" color="primary" mode="indeterminate">
            </mat-progress-spinner>
        </div>
    </div>
    <div>
        <mat-form-field class="tag-list">
            <mat-chip-list #chipList aria-label="Sélection d'étiquette">
                <mat-chip *ngFor="let tag of selectedTags" [selectable]="selectable" [removable]="removable"
                    (removed)="remove(tag)">
                    {{tag}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="Étiquette(s)..." #tagInput [formControl]="tagCtrl" [matAutocomplete]="auto"
                    [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
                    {{tag}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
    <mat-paginator [length]="dataObs.value.length" [pageSize]="2" [pageIndex]="pageIndex" (page)="pageEvent = $event;">
    </mat-paginator>
    <div *ngIf="isLoaded" class="drawing-list">
        <div *ngIf="dataObs.value.length !== 0">
            <div *ngFor="let preview of dataObs | async" style="margin: 10px;">
                <mat-card class="drawing-card" (click)="selectDrawing(preview)"
                    [style.background]='getBackgroundSelected(preview)'>
                    <mat-card-header>
                        <mat-card-title>{{preview.name}}</mat-card-title>
                    </mat-card-header>
                    <div [id]=preview.name class="thumbnail">
                        <svg [style.background]="getBackground(preview)">
                            {{getThumbnail(preview)}}
                        </svg>
                    </div>
                    <mat-card-content>
                        <p *ngFor="let tag of preview.tags">
                            {{tag}}
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div *ngIf="dataObs.value.length === 0">
            <h3>Aucun dessin ne correspond aux filtrage demandé</h3>
        </div>
    </div>
    <button mat-raised-button color="primary" (click)="close()">Fermer</button>
    <button mat-raised-button color="primary" (click)="accept()" [disabled]="!selectedDrawing">Ouvrir</button>
</div>