/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';

@include mat-core();

$polydessin-theme-primary: mat-palette($mat-lime);
$polydessin-theme-accent: mat-palette($mat-blue-grey);
$polydessin-theme-theme:   mat-light-theme($polydessin-theme-primary, $polydessin-theme-accent);

@include angular-material-theme($polydessin-theme-theme);
