@import "../../../assets/assets.main-view.scss";

div{
  display: flex;
  flex: 1 1;

  //width:100 vh;
  //height: 1000 vh;
  overflow:hidden;
}

app-sidenav{
  flex: 0 0 $sidenav-container-size;
}

app-parameter-menu{
  flex: 1 1 auto;
}
