<div class="color flex" *ngIf="addSpeedDial; then thenBlock else elseBlock"></div>
<ng-template #thenBlock class="flex">
  <mcc-speed-dial [direction]=right [spin]=false>
    <button mat-icon-button>
        <fa-icon [icon]="faIcon"></fa-icon>
    </button>
    <mcc-speed-dial-actions animation="scale">
        <button mat-icon-button *ngFor="let faIcon of speedDialIconList">
            <fa-icon [icon]="faIcon"></fa-icon>
        </button>
    </mcc-speed-dial-actions>
  </mcc-speed-dial>
</ng-template>
<ng-template #elseBlock class="flex">
  <button mat-icon-button>
    <fa-icon [icon]="faIcon"></fa-icon>
  </button>
</ng-template>
