@import "../../../assets/assets.main-view.scss";

.flex{
  display: flex;
  flex: 1;
}

button{
  font-size: $sidenav-size;
  width: 2em;
  height: 2em;
}

.mat-icon-button{
  line-height: 0px !important;
}

::ng-deep .mat-fab .mat-button-wrapper {
  line-height: 0px !important;
  padding: 0px !important;
}

.mat-fab{
  width: inherit;
  height: inherit;
}
