

<div class="canvas">
<svg width="300000000000000px" height="2099999999999999999999px" version="1.1"
     xmlns="http://www.w3.org/2000/svg">

  <title> Rectangle </title>
  <desc> Un rectangle </desc>

  <rect
    x="0.5cm" y="0.5cm" width="2cm" height="1cm"
  />

</svg>

<p  style="word-wrap: break-word;">canvas works jhfsdgbbbbbbbbbbbbbfffffffffffffffffffffffffffffffbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb</p>
</div>
