<div [formGroup]='form'>
    <mat-form-field style="width: 50px;">
        <mat-label>Stroke width</mat-label>
        <input matInput formControlName='strokeWidth' type="number" placeholder="Stroke width" min="1">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Texture</mat-label>
        <mat-select formControlName="texture">
            <mat-option *ngFor="let texture of listTexture" [value]="texture.value">
                {{texture.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>