<h1 mat-dialog-title>Sauvegarder le dessin</h1>
<div mat-dialog-content>
    <div>
        <mat-form-field>
            <mat-label>Nom du dessin</mat-label>
            <input matInput [formControl]='nameCtrl' required>
        </mat-form-field>
    </div>
    <div class="tumbnail">
        <svg #svg height="150" width="150">
        </svg>
    </div>
    <div>
        <mat-form-field class="tag-list">
            <mat-chip-list #chipList aria-label="Sélection d'étiquette">
                <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable"
                    (removed)="remove(tag)">
                    {{tag}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="Étiquette(s)..." #tagInput [formControl]="tagCtrl" [matAutocomplete]="auto"
                    [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
                    {{tag}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
</div>

<div mat-dialog-actions align="end">
    <button mat-raised-button color=primary (click)="save()"
        [disabled]="nameCtrl.invalid && saveEnabled && tagCtrl.dirty">Sauvegarder</button>
    <button mat-raised-button color=primary (click)="close()">Annuler</button>
</div>