<h1>Guide d'instruction</h1>
<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            Outil
        </ng-template>
        <h2>Instruction sur les outils</h2>
        <p>
            <h4>Outil de tracage</h4>
            <b>Crayon:</b> Le crayon est l’outil de base du logiciel de dessin. Il ne sert qu’à faire de simples traits
            sans texture particulière.<br>
            <b>Pinceau:</b> Cet outil est similaire au crayon. Il n’en diffère que par la texture du trait. Il y a 5
            textures différentes. <br>
            <b>Plume:</b> Cet outil ressemble lui aussi au crayon. Sa différence est dans la forme de sa pointe qui doit
            être une mince ligne
            plutôt que d’être ronde. Les angles sont de 0, 45, 90 et 135 degrés. <br>
            <b>Stylo: </b>La particularité de cet outil est que le trait laissé sur la surface de dessin s’amincit en
            fonction de la vitesse de
            déplacement de la souris. Plus la vitesse est grande, plus le trait est mince. <br>
            <b>Aérosol:</b> Cet outil simule un effet de peinture en aérosol. Dès que le bouton est enfoncé, un jet de
            peinture est vaporisé sous le
            pointeur de la souris. L’outil continu ensuite d’émettre de la peinture à intervalle régulier jusqu’à qu’à
            ce que le
            bouton soit relâché. <br>

            <h4>Formes</h4>
            <b>Rectangle:</b> Cet outil permet de dessiner des rectangles. Ceux-ci seront bien entendu de même
            superficie que le périmètre
            rectangulaire. Toutefois, si la touche Shift est maintenue appuyée pendant la deuxième étape de la création,
            la forme
            inscrite dans le périmètre sera plutôt un carré. <br>
            <b>Ellipse:</b> Cet outil adopte le même comportement que celui permettant de dessiner des rectangles. La
            seule différence est que la
            forme dessinée est une ellipse. <br>
            <b>Polygone: </b>L’outil de polygone fonctionne comme les deux précédents. Il permet toutefois à
            l’utilisateur de spécifier le nombre de
            côtés de la forme à dessiner. <br>
            <h4>Ligne:</h4> Cet outil permet de tracer une ligne d’un ou plusieurs segments. Un premier clic définit la
            position de départ de la
            ligne. Ensuite, chaque clic qui suit « connecte » avec le clic qui le précède pour former un segment de la
            ligne. Un double-clic indique qu’il s’agit du dernier point. Un dernier segment est alors formé et la ligne
            est terminée. Si la
            touche Shift est enfoncée au moment de ce double-clic, un segment qui connecte le point du
            double-clic et le tout premier point de la ligne est créé. <br>
            <h4> Texte</h4> Cet outil permet d’écrire des chaines de caractères sur la surface de dessin. Pour
            l’utiliser, il suffit de cliquer à
            l’endroit où l’on veut écrire. Il n’y a pas de retour à la ligne automatique, l’utilisateur doit appuyer sur
            la touche
            d’entrée (Enter). Il est possible de modifier la taille, la police les mutateurs et l'allignement du
            texte<br>
            <h4>Applicateur de couleur</h4> Cet outil permet de changer la couleur d’un objet simplement en cliquant
            dessus. Un clic avec le bouton gauche sur un
            objet fera changer sa couleur pour la couleur principale. Un clic avec le bouton droit sur un objet fera
            changer la
            couleur de bordure, s’il en a une, pour la couleur secondaire. <br>
            <h4>Sceau de peinture</h4> Le sceau de peinture a pour effet de remplir une certaine région d'une couleur
            quelconque. <br>
            <h4>Efface</h4> Cet outil permet de supprimer des objets de la surface de dessin. Tout objet se trouvant en
            contact avec l’efface lors
            d’un clic gauche est effacé. Pour se servir de l’outil comme d’une brosse, il suffit de maintenir le bouton
            gauche enfoncé et de déplacer la souris. <br>
            <h4>Étampe</h4> L’étampe est une petite image que l’on peut apposer sur le dessin. Pour appliquer une
            étampe, il suffit d’un simple clic du bouton gauche à l’endroit désiré. <br>
            <h4>Pipette</h4> Cet outil est utilisé pour saisir la couleur sous le pointeur de la souris. Un clic avec le
            bouton gauche assigne la
            couleur saisie à la couleur principale. Un clic avec bouton droit pour l’assigner à la couleur secondaire.
            <br>
            <h4>Sélection</h4> Avec cet outil, l’utilisateur peut sélectionner un ou plusieurs objets de la surface de
            dessin. Il lui est ensuite
            possible de les déplacer, de changer leurs dimensions ou de les faire pivoter. <br>

    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            Racourcis
        </ng-template>
        <h2>Racourcis de clavier</h2>
        <h4>Options de fichier:</h4>
        {{messageA.value.O}}<br>{{messageA.value.S}}<br>{{messageA.value.G}}<br>{{messageA.value.E}}
        <h4>Manipulations de sélection:</h4>
        {{messageA.value.X}}<br>{{messageA.value.C}}<br>{{messageA.value.V}}<br>{{messageA.value.D}}<br>
        {{messageA.value.Sup}}<br>{{messageA.value.A}}<br>{{messageA.value.Z}}<br>{{messageA.value.ShiftZ}}
        <h4>Choisir un outil:</h4>
        {{messageA.value.Cray}}<br>{{messageA.value.W}}<br>{{messageA.value.P}}<br>{{messageA.value.Y}}<br>
        {{messageA.value.Aer}}<br>{{messageA.value.Rec}}<br>{{messageA.value.Ell}}<br>{{messageA.value.Poly}}<br>
        {{messageA.value.L}}<br>{{messageA.value.T}}<br>{{messageA.value.R}}<br>{{messageA.value.B}}<br>
        {{messageA.value.Eff}}<br>{{messageA.value.I}}<br>{{messageA.value.Sel}}
        <h4>Options de zone de travail: </h4>
        {{messageA.value.Gri}}<br>{{messageA.value.M}}<br>{{messageA.value.Aug}}<br>{{messageA.value.Dim}}
    </mat-tab>
</mat-tab-group>
<mat-dialog-actions align="end">
    <button mat-raised-button color=primary (click)="close()">Close</button>
</mat-dialog-actions>