<div class="parameter">
    <h4>{{toolName}}</h4>
    <div [formGroup]='form'>
        <mat-grid-list cols="4" rowHeight="70px">
           
            <mat-grid-tile [colspan]="3">
                <mat-form-field>
                    <mat-label>Taille des carrés</mat-label>
                    <input matInput formControlName='sizeCell' type="number" placeholder="Taille des carrés" min="1"
                        (keyup)="changeGridSizeKey($event)" (blur) ="changeGridSizeOnLostFocus()"  oninput="validity.valid||(value='');" onblur="validity.valid||(value='');">
                </mat-form-field>
            </mat-grid-tile>

          <mat-grid-tile [colspan]="3">
                <mat-form-field>
                    <mat-label>Transparence</mat-label>
                    <input matInput formControlName='transparence' type="number" step="0.01" placeholder="Transparence"  max="1.00" 
                        (keyup)="changeOpacityKey($event)" min="0.00" (blur) ="changeOpacityOnLostFocus()" oninput="validity.valid||(value='');" onblur="validity.valid||(value='');">
                </mat-form-field>            
            </mat-grid-tile>

        </mat-grid-list>
    </div>
</div>
<div>
  <mat-label>Couleur de la grille</mat-label>
      <mat-button-toggle-group [(value)]="currentStyle" #group="matButtonToggleGroup">
        <mat-button-toggle mat-icon-button [matTooltip]="styles[0].tooltip" [value]="styles[0].id"
          (click)="changeColor(styles[0].id)">
          <svg width=26 height=26>
            <rect x=3 y=3 width=20 height=20 fill="black" stroke="black" stroke-width="3"></rect>
          </svg>
        </mat-button-toggle>
        <mat-button-toggle mat-icon-button [matTooltip]="styles[1].tooltip" [value]="styles[1].id"
          (click)="changeColor(styles[1].id)">
          <svg width=26 height=26>
            <rect x=3 y=3 width=20 height=20 fill="white" stroke="black" stroke-width="1"></rect>
          </svg>
        </mat-button-toggle>
      </mat-button-toggle-group>
</div>
<div [formGroup]='form'>
    <mat-checkbox formControlName='activerGrille' (change)="onSelection($event)" >Activer la grille</mat-checkbox>
</div>