mat-drawer-container {
  height: 100%;

  display:flex;
  background-color: rgb(161, 22, 154);

}


mat-drawer{


  background-color: aqua;
   flex:1 1 auto;

}

mat-drawer-content{


  flex:0 0 1;
  background-color:yellow;
  width:100%;// pour que le content occupe tout l'espace

}
