mat-drawer-container::ng-deep {
  height:100vh;
}

button{
	height: 5%;
}

mat-menu{
  flex: 1 0 auto;
}

// ::ng-deep .mat-menu-panel{
//   max-width: none !important;
//   min-width: none !important;
//   width: 280px;
// }
