

div{ // c<est le workspace ou on definit la taille de la zone des conteneurs de dessin et du workspace
  display: flex;
  justify-content:flex-start;
  --widthdessin:100%;
  --heightdessin:100%;
  --heightworkspace:100%;
  --widthworkspace:100%;
  height:(var(--heightworkspace));
  width:(var(--widthworkspace));
}


mat-drawer-container { //c'est le conteneur du worspace
  height: (var(--heightworkspace));
  width:var((--widthworkspace));
  //border:2px solid blue;
  box-sizing:border-box;
  overflow-x:auto;
  overflow-y:auto;
}
