<div class="row">
    <input matInput placeholder="R" value={{rgba.r}} type="number" min=0 max=255 style="width:50px">
    <input matInput placeholder="G" value={{rgba.g}} type="number" min=0 max=255 style="width:50px">
    <input matInput placeholder="B" value={{rgba.b}} type="number" min=0 max=255 style="width:50px">
    <input matInput placeholder="A" value={{rgba.a.toFixed(2)}} type="number" min=0 max=1 step=0.1 style="width:50px">
</div>
<div class="row">
    <label>HEX</label>
    <input placeholder="HEX" value={{hex.toString(16)}} min=0>
</div>