@import "../../../assets/assets.main-view.scss";

div{
	display: flex;
	height: 100vh;
}

app-workspace{
  flex: 1 1;
  height: inherit;
}

app-menu{
  flex: 0 0;
  max-width: $menu-container-size;
  min-width: $sidenav-container-size;
}
