<div>
	<app-menu></app-menu>
	<app-workspace></app-workspace>
</div>


<!-- <div>
  <mcc-speed-dial [direction]=right [spin]=false>
    <button mat-icon-button>
        <fa-icon [icon]="faIcon"></fa-icon>
    </button>
    <mcc-speed-dial-actions *ngFor="let faIcon of speedDialIconList">
      <button mat-icon-button>
          <fa-icon [icon]="faIcon"></fa-icon>
      </button>
    </mcc-speed-dial-actions>
  </mcc-speed-dial>
</div>
<div>
  <app-menu></app-menu>
</div> -->
