<div class="row">
    <svg [attr.width]="width" [attr.height]="height">
        <rect [attr.width]="secondarySize.width" [attr.height]="secondarySize.height" [attr.fill]="secondaryColor"
            [attr.fill-opacity]="secondaryAlpha" style="stroke-width:1;stroke:rgb(0,0,0)"
            (click)="onMouseClickSecondary($event)" />
        <rect [attr.x]="primarySize.x" [attr.y]="primarySize.y" [attr.width]="primarySize.width"
            [attr.height]="primarySize.height" [attr.fill]="primaryColor" [attr.fill-opacity]="primaryAlpha"
            style="stroke-width:1;stroke:rgb(0,0,0)" (click)="onMouseClickPrimary($event)" />
    </svg>
</div>
<div class="row">
    <button mat-icon-button (click)="switchColor()">
        <mat-icon>invert_colors</mat-icon>
    </button>
</div>
<div class="row">
    <h4>BG:</h4>
    <svg [attr.width]="30" [attr.height]="30">
        <rect [attr.width]="30" [attr.height]="30" [attr.fill]="backgroundColor" [attr.fill-opacity]="backgroundAlpha"
            style="stroke-width:1;stroke:rgb(0,0,0)" (click)="onMouseClickBackground($event)" />
    </svg>
</div>