<div class="row">
    <span [formGroup]='rgb'>
        <mat-form-field style="width:55px">
            <input matInput placeholder="R" formControlName="r" (input)='updateHSL()' type="number" min=0 max=255
                style="width:55px">
        </mat-form-field>
        <mat-form-field style="width:55px">
            <input matInput placeholder="G" formControlName="g" (input)='updateHSL()' type="number" min=0 max=255
                style="width:55px">
        </mat-form-field>
        <mat-form-field style="width:55px">
            <input matInput placeholder="B" formControlName="b" (input)='updateHSL()' type="number" min=0 max=255
                style="width:55px">
        </mat-form-field>
    </span>
</div>
<div class="row">
    <mat-form-field style="width:100px">
        <input matInput placeholder="HEX" [(ngModel)]='hex' (blur)="changedHEX()" style="width:100px">
    </mat-form-field>
    <mat-form-field style="width:50px" [formGroup]='colorForm'>
        <input matInput placeholder="A" formControlName="a" type="number" min=0 max=1 step=0.1>
    </mat-form-field>
</div>