.example-container {
  width: 1000px;//largeur de la fenetre
  height: 500px;//longeur de la fenetre
  margin: 10px; // position par rapport a la diagonale
  border: 1px solid rgb(25, 26, 25); //couleur de la bordure
  background: rgb(165,62,62);// couleur du main content

}
