<mat-sidenav-container class="container">
  <mat-sidenav mode="side" fixedInViewport=true fxFlexFill disableClose=true opened>
    <div class="container color">
        <app-tools-color></app-tools-color>
        <button mat-fab> allo </button>
        <!--<div *ngFor="let tool of menuTopToolsList">
          <button mat-fab (click)="toolSelection(tool.id)"> {{tool.name}}</button>
        </div>-->
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-parameter-menu></app-parameter-menu>
  </mat-sidenav-content>
</mat-sidenav-container>