mat-sidenav-container {
  height: 100vh;
}

.container{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-content: center;
  height: inherit;
}

.mat-drawer-side {
  border-right: none !important
}
