<mat-sidenav-container>
  <mat-sidenav-content fixedInViewport=true disableClose=true>
    <div class="container color">
      <div>
        <button mat-raised-button (click)="toggle()"> click </button>
        <div *ngFor="let faIcon of menuTopIconList">
          <app-tool-icon [faIcon]="faIcon"></app-tool-icon>
        </div>
      </div>
      <div>
        <div *ngFor="let faIcon of menuBottomIconList">
          <app-tool-icon [faIcon]="faIcon"></app-tool-icon>
        </div>
      </div>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
