@import "../../../assets/assets.main-view.scss";

.color{
  background-color: $sidenav-background-color;
}//can be taken off since it wont follow if the buttons overflow

mat-sidenav-container {
  height: 100vh;
}

.container{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-content: center;
  height: inherit;
}

.mat-drawer-side {
  border-right: none !important
}
