<mat-sidenav-container class="container">
  <mat-sidenav mode="side" fixedInViewport=true fxFlexFill disableClose=true opened>
    <button mat-icon-button (click)="open()" *ngIf="!isOpened">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
    <button mat-icon-button (click)="close()" *ngIf="isOpened">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <div>
      <mat-button-toggle-group class="iconsGroup" #group="matButtonToggleGroup" [value]="currentToolId"
        [vertical]="true">
        <mat-button-toggle mat-icon-button *ngFor="let tool of toolList;" [matTooltip]="tool.toolName" [value]="tool.id"
          (click)="open()" (change)="selectionChanged($event)">
          <fa-icon [icon]="tool.faIcon"></fa-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
      <mat-divider></mat-divider>
      <app-tools-color></app-tools-color>
    </div>
    <div class="iconsGroup menu-button">
      <button mat-icon-button matTooltip="Menu" (click)="openControlMenu()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-parameter-menu [selectId]="selectedParameter"></app-parameter-menu>
  </mat-sidenav-content>
</mat-sidenav-container>